# EditorConfig helps maintain consistent coding styles across editors and IDEs.
# Learn more at https://editorconfig.org/

# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8                 # Use UTF-8 for encoding
indent_style = space            # Use spaces for indentation
indent_size = 2                 # Indent size of 2 spaces
end_of_line = lf                # Use LF (Unix-style line endings)
trim_trailing_whitespace = true # Remove trailing whitespaces
insert_final_newline = true     # Add a final newline at the end of files

# Specific settings for JSON files
[*.json]
indent_size = 2                 # JSON typically uses 2 spaces for indentation

# Specific settings for TypeScript files
[*.ts]
indent_size = 2                 # TypeScript typically uses 2 spaces for indentation

# Specific settings for Markdown files
[*.md]
trim_trailing_whitespace = false # Allow trailing whitespace in Markdown files (for visual alignment)

# Specific settings for YAML files
[*.yml]
indent_size = 2                 # YAML typically uses 2 spaces for indentation
