# WeChat Pay Configuration
VITE_APP_APPID=wxd678efh567hg6787
VITE_MCH_ID=1230000109
VITE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkq...\n-----END PUBLIC KEY-----"
VITE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkq...\n-----END PRIVATE KEY-----"
VITE_API_V3_KEY=43214321432143214321432143214321
VITE_APP_APPSECRET = 256abcd19761e2baba5e5b24ad60fa0f
